{{#if message}}
<div class="success">{{message}}</div>
{{/if}}
<div>
  <a href="/peliculas">volver a películas</a>
</div>

{{#if pelicula}}
<h6>existe pelicula y es {{pelicula.titulo}}</h6>
  {{#if pelicula._id}}
  <h6>Existe el id de pelicula y es {{pelicula._id}}</h6>
  {{/if}}
    {{#if pelicula.titulosinespacio}}
  <h6>Existe el titulosinespacio de pelicula y es {{pelicula.titulosinespacio}}</h6>
  {{/if}}

{{/if}}

<h1>Actualizar info de una película</h1>
<form action="/peliculas/update/{{pelicula._id}}" method="post">
  <div>
    <label for="titulo">Titulo</label>
    <input type="text" name="titulo" id="titulo" value="{{pelicula.titulo}}" required>
  </div>
  <div>
    <label for="titulosinespacio">Titulo sin espacio</label>
    <input type="text" name="titulosinespacio" id="titulosinespacio" value="{{pelicula.titulosinespacio}}" required>
  </div>
  {{!-- <div>
    <label for="stock">Stock</label>
    <input type="text" name="stock" id="stock" value="{{product.stock}}" required>
  </div> --}}
  <div>
    <label for="ruta">ruta</label>
    <input type="text" name="ruta" id="ruta" value="{{pelicula.ruta}}" required>
  </div>
  <input type="submit" value="Actualizar">
</form>