{{#if message}}
<div class="success">{{message}}</div>
{{/if}}
<div>
  <a class="boton-rojo" href="/peliculas">Volver a Películas</a>
</div>

<h3>Actualizar información de una película</h3>
<form action="/peliculas/update/{{pelicula._id}}" method="post">
  <div>
    <label for="titulo">Titulo</label>
    <input type="text" name="titulo" id="titulo" value="{{pelicula.titulo}}" required>
  </div>
  <div>
    <label for="titulosinespacio">Titulo sin espacio</label>
    <input type="text" name="titulosinespacio" id="titulosinespacio" value="{{pelicula.titulosinespacio}}" required>
  </div>
  {{!-- El director no es obligatorio --}}
  <div>
    <label for="director">Director</label>
    <input type="text" name="director" id="director" value="{{pelicula.director}}" >
  </div>
  <div>
    <label for="ruta">ruta</label>
    <input type="text" name="ruta" id="ruta" value="{{pelicula.ruta}}" required>
  </div>
  <input type="submit" value="Actualizar">
</form>