<h3>{{nombreDeSeccion}}</h3>

<h5>Este archivo es peliculas.handlebars</h5>

{{#each pelicula_}}
<h2>
    <a href="/pelicula/{{@index}}">{{this.titulo}}</a>
</h2>
<ul>
    {{#each items}}
    <li>{{this}}</li>
    {{/each}}
</ul>
{{/each}}


<ol>
    {{#each peliculas_}}
    <li>
        <a href="/peliculas/{{this.titulo}}">
            {{this.titulo}}
        <h5>El director es </h5>
            <h6>{{this.director}}</h6>
        </a>
    </li>
    {{!-- <ul>
    {{#each this}}
    <li>{{this}}</li>
    {{/each}}
  </ul> --}}
    {{/each}}
</ol>