<h3>{{nombreDeSeccion}}</h3>

<h5>Este archivo es peliculas.handlebars</h5>

{{#each pelicula_}}
<h2>
    <a href="/pelicula/{{@index}}">{{this.titulo}}</a>
</h2>
<ul>
    {{#each this}}
    <li>{{this}}</li>
    {{/each}}
</ul>
{{/each}}


<ul>
    {{#each peliculas_}}
    <li>
        <a href="/peliculas/{{this.titulo}}">
            {{this.titulo}}
            {{#if this.director}}
            <h5>Director: {{this.director}}</h5>
            {{/if}}
        </a>
    </li>
    {{/each}}
</ul>