<h3>{{nombreDeSeccion}}</h3>

<h5>Este archivo es series.handlebars</h5>

{{#each series_}}
<h2>
  <a href="/series/{{@index}}">{{this.titulo}}</a>
</h2>

{{/each}}


{{!-- <ol>
  {{#each series_}}
  <li>
    <a href="/series/{{this.titulo}}">
      {{this.titulo}}
    </a>
  </li>
  <ul>
    {{#each this}}
    <li>{{this}}</li>
    {{/each}}
  </ul>
  {{/each}}
</ol> --}}